h3 {
  font-family:"Verdana";
  font-size:"28px";
  color:"#868e96";
  text-decoration:"underline"
}
main h1 {
  font-family:"Helvetica", "Arial", "sans-serif";
  font-size:"60px;
  font-weight:"300";

}
